<footer class="footer-primary vcard h-card" role="contentinfo">
	<img class="logo-klick photo" src="/img/logo-klick.png" alt="Klick Logo"/>
	<a class="fn org url" href="https://www.klick.com/">Klick Health</a>
    <p>
    	<span>Telephone:</span>
    	<a href="tel:4162144977" class="tel">(416) 214-4977</a>
    </p>
    <p>
    	<span>Email:</span>
    	<a class="email" href="mailto:contact@klick.com">contact@klick.com</a>
    </p>
	<address class="adr h-adr">
		<p>
			<span class="street-address p-street-address">175 Bloor street East</span>
			<span class="extended-address p-extended-address">#301</span>
		</p>
		<p>
			<span class="locality p-locality">TORONTO</span>
			<span class="region p-region">ONTARIO</span>
			<span class="postal-code p-postal-code">M4W</span>
		</p>
		<p class="country-name p-country-name">CANADA</p>
	</address>
</footer>