<aside class="isi-primary" role="complementary" typeof="Drug">
	<h2>Important Safety Information for <span property="proprietaryName">POUETPOUET</span> (<span property="nonProprietaryName">globuloxyfa-tototo</span>)</h2>
	<div property="warning">
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</div>
	<h2>Mechanism of Action</h2>
	<div property="mechanismOfAction">
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</div>
	<h2>Prescribing Information</h2>
	<div property="prescribingInfo">
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</div>
</aside>