<div class="nav-container">			
	<nav class="nav-primary" role="navigation" aria-label="Primary">
		<ul role="menubar">
			<li role="presentation">
				<a href="/" role="menuitem">Home</a>
			</li>
			<li role="presentation">
				<a href="/efficay-safety" role="menuitem">Safety & Efficacy</a>
			</li>
		</ul>
	</nav>			
	<nav class="nav-secondary" role="navigation" aria-label="Secondary">
		<ul role="menubar">
			<li role="presentation">
				<a href="/prescribing-information" role="menuitem">Prescribing Information</a>
			</li>
			<li role="presentation">
				<a href="/medication-guide" role="menuitem">Medication Guide</a>
			</li>
		</ul>
	</nav>
</div>	