{{>headers/home}}
<main class="main-content" role="main" typeof="Blog">	
	<article class="hentry" role="article" property="blogPost" typeof="BlogPosting">
		<header>
			<div property="image" typeof="ImageObject">
				<img src="/img/article1.jpg" alt="Article1 title" property="url" width="400" height="300"/>				
				<meta property="width" content="400">
				<meta property="height" content="300">
			</div>
			<div property="publisher" typeof="Organization">
				<div property="logo" typeof="ImageObject">
					<img src="/img/logo-klick.png" width="200" height="77"/>
					<meta property="url" content="https://www.klick.com/">
					<meta property="width" content="200">
					<meta property="height" content="77">
				</div>
				<meta property="name" content="Klick Health">
			</div>
			<h2 class="entry-title" property="headline">Article1 title</h2>
			<p>
				<span>Posted on</span>
				<time datetime="2009-09-04T16:31:24+02:00" property="datePublished">04/09/2009</time>
				<span>by</span>
				<a href="https://plus.google.com/u/0/104291125499025983817" class="vcard author" rel="author" property="author" typeof="Person">
					<span class="fn nickname" property="name">John</span>
				</a>
			</p>
		</header>
		<section class="entry-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis odio at dolor viverra faucibus eget quis odio. Fusce mattis, ex vitae varius facilisis, sem libero egestas mi, euismod commodo arcu lorem quis enim. Integer volutpat ex vitae dolor aliquam, vitae imperdiet elit commodo. Aenean lacinia neque ante, eget gravida enim convallis eget. Quisque pulvinar pellentesque neque in iaculis. Praesent sed leo in ipsum imperdiet porttitor. Aliquam pharetra leo massa, eu pretium ipsum commodo et.</p>
		</section>
		<aside role="complementary">
			<article class="hreview">
				<header>
					<span>
						<span class="rating">5</span>
						<span>out of 5 stars for</span>
					</span>
					<h4 class="summary"><span class="item fn">Article1 title</span> Great article!</h4>				
					<p>
						<span>Posted on</span>
						<time class="dtreviewed" datetime="2009-09-04T17:00:01+02:00">05/09/2009</time>
						<span>by</span>
						<a href="#" class="reviewer vcard">
							<span class="fn nickname">Jane</span>
						</a>
					</p>
				</header>
				<section class="description item">
					<p>Fusce hendrerit nisl in magna vehicula fermentum. Donec rhoncus, diam tincidunt euismod semper, mi magna sollicitudin enim, vel blandit felis leo quis ante. Pellentesque eget mi eu ligula dictum pretium. Nulla laoreet justo sed lorem eleifend, sed rhoncus odio sodales. Ut sed consectetur erat. Cras et molestie erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras egestas orci dolor. Maecenas vestibulum, lectus eu porta sollicitudin, ex quam euismod metus, a faucibus ex enim eu ex. Duis sollicitudin porta erat. Aenean eget condimentum odio. Aliquam luctus pellentesque eros, a laoreet nunc ultricies eget. Phasellus id nisl mollis, vehicula diam at, mollis metus. Nulla faucibus, sem interdum lacinia dignissim, metus lacus efficitur diam, non ullamcorper turpis nulla sit amet orci. Nunc sapien libero, finibus eget elementum non, commodo eget augue. Vivamus at nibh id ante pulvinar gravida.</p>
				</section>
			</article>
		</aside>
	</article>	
</main>